<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/fragments/config :: ConfigFragment}"></head>

<body>
<header th:replace="~{common/fragments/header :: HeaderFragment}"></header>
<div class="container">
    <div class="row my-3">
        <div class="col-6">
            <button type="button" id="create-btn"
                    th:onclick="|location.href='@{/new-quiz}'|"
                    class="btn btn-secondary btn-sm mb-3">퀴즈 등록</button>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>

    </div>
    <div class="dropdown">
        <button class="title" onclick="toggleDropdown()">문제 카테고리</button>
        <ul class="menu-list" id="category-list"  style="list-style-type: none;">
            <li th:each="category : ${categories}">
                <input type="checkbox" class="category-checkbox" th:value="${category}" th:text="${category}" onchange="handleCheckboxChange()">
            </li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="title" onclick="toggleSolvedDropdown()">풀이 여부</button>
        <ul class="menu-list" id="solved-check-list" style="list-style-type: none;">
            <li>
                <input type="checkbox" class="statuses-checkbox" id="solved-true-checkbox" onchange="handleCheckboxChange()">
                <label for="solved-true-checkbox">푼 문제</label>
            </li>
            <li>
                <input type="checkbox" class="statuses-checkbox" id="solved-false-checkbox" onchange="handleCheckboxChange()">
                <label for="solved-false-checkbox">안 푼 문제</label>
            </li>
        </ul>
    </div>

    <div class="row-6" th:each="item : ${quizzes}">
        <div class="card">
            <div class="card-header" th:text="${item.quizId}">
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${item.questionText}"></h5>
                <p th:text="${item.isCorrect} ? '상태: solved' : '상태: unsolved'"></p>
                <p class="card-text" th:switch="${item.categoryId}">
                    <span th:case="1">유형: 운영체제</span>
                    <span th:case="2">유형: 네트워크</span>
                    <span th:case="3">유형: 데이터베이스</span>
                    <span th:case="4">유형: 자료구조</span>
                    <span th:case="5">유형: 알고리즘</span>
                    <span th:case="*" th:text="''">Unknown</span>
                </p>
                <p class="card-text" th:text="'난이도: ' + ${item.difficulty}"></p>
                <p class="card-text" th:if="${item.attemptCount != 0}" th:text="'정답률: ' + ${#numbers.formatDecimal((item.correctCount / item.attemptCount * 100), 2)} + '%'"></p>
                <p class="card-text" th:if="${item.attemptCount == 0}">아직 푼 사람이 없습니다!</p>
                <a th:href="@{/quizzes/{id}(id=${item.quizId})}" class="btn btn-primary">풀어보기</a>
            </div>
        </div>
        <br>
    </div>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>

    <form th:action="@{/quizzes}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="pageNumber" th:value="${paging.number}">
        <!--카테고리 선택 정보도 동적으로 담김-->
    </form>
</div>
<!--Footer 영역을 참조합니다.-->
<footer th:replace="~{common/fragments/footer :: FooterFragment}"></footer>
<!-- 공통 스크립트-->
<th:block th:replace="~{/common/fragments/script :: scriptFragment}"></th:block>
<script type="text/javascript" th:src="@{/js/quizView.js}"></script>

</body>
</html>