<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/fragments/config :: ConfigFragment}"></head>

<body>
<header th:replace="~{common/fragments/header :: HeaderFragment}"></header>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <article>
                <input type="hidden" id="quiz-id" th:value="${quiz.quizId}">
                <header class="mb-4">
                    <h2 class="text-center mb-4" th:text="${quiz.questionText}"></h2>
                </header>
                <section class="mb-5">
                    <table class="table table-bordered">
                        <tr>
                            <th>유형</th>
                            <td th:switch="${quiz.categoryId}">
                                <span th:case="1">운영체제</span>
                                <span th:case="2">네트워크</span>
                                <span th:case="3">데이터베이스</span>
                                <span th:case="4">자료구조</span>
                                <span th:case="5">알고리즘</span>
                                <span th:case="6">SW 신기술</span>
                                <span th:case="*" th:text="''">Unknown</span>
                            </td>
                        </tr>
                        <tr>
                            <th>난이도</th>
                            <td th:text="${quiz.difficulty}"></td>
                        </tr>
                        <tr>
                            <th>상태</th>
                            <td>
                                <span th:if="${quiz.isCorrect}">&#9989;</span>
                            </td>
                        </tr>
                    </table>
                    <div class="card">
                        <div class="card-body">
                            <p id="blankSentence"
                               style="white-space:pre-wrap; letter-spacing: 0.02em; font-size: 1.1rem"></p>
                        </div>
                    </div>
                    <div class="my-4"></div>
                    <form id="answerForm" th:action="@{'/quizzes/${quiz.quizId}'}" method="POST"
                          onsubmit="submitForm(event)">
                        <input type="hidden" name="quizId" th:value="${quiz.quizId}"/>
                        <div th:each="count : ${#numbers.sequence(0, quiz.answerCounts - 1)}">
                            <div class="form-group">
                                <input type="text" th:name="'userAnswers[' + ${count} + '].userAnswer'"
                                       class="form-control" th:placeholder="${count} + 1 + '번째 정답을 입력하세요!'"/>
                            </div>
                        </div>
                        <div class="my-3 text-center" th:if="${loggedIn}">
                            <button type="submit" class="btn btn-primary btn-block px-5">제출</button>
                        </div>
                        <div class="my-3 text-center" th:unless="${loggedIn}">
                            <button type="button" class="btn btn-secondary" onclick="location.href='/login'">로그인
                            </button>
                        </div>
                    </form>
                </section>
                <div id="answerResult" class="card mb-5">
                    <div class="card-header">
                        <span>제출 결과</span>
                    </div>
                    <div class="card-body">
                        <div th:if="${answerResponse != null}">
                            <div th:if="${answerResponse.isAllCorrect}" class="alert alert-success">
                                <h4 class="alert-heading">축하합니다!</h4>
                                <p>모든 답변을 정확하게 맞추셨습니다.</p>
                            </div>
                            <div th:unless="${answerResponse.isAllCorrect}" class="alert alert-danger">
                                <h4 class="alert-heading">아쉽습니다.</h4>
                                <p>일부 답변이 틀렸습니다. 다시 한번 도전해보세요.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var blankSentence = /*[[${quiz.blankSentence}]]*/ '';
    let blankIndex = 0;

    function replaceBlanks() {
        var modifiedSentence = blankSentence.replace(/\{\}/g, function (match, offset) {
            blankIndex++;
            return '<span class="bg-warning bg-gradient border rounded px-1" style="color: gray;">  ' + blankIndex + '  </span>'
        });

        document.getElementById('blankSentence').innerHTML = modifiedSentence;
    }

    replaceBlanks();
</script>

<script>
    function submitForm(event) {
        event.preventDefault(); // 기본 동작 방지
        const formData = new FormData(event.target); // 이벤트 타겟의 폼 데이터 가져오기

        var url = "/quizzes/" + formData.get('quizId'); // 퀴즈 ID 가져오기

        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            processData: false, // 데이터 처리 방지
            contentType: false, // 콘텐츠 타입 false로 설정
        })
            .done(function (fragment) {
                $('#answerResult').replaceWith(fragment);
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                // 오류가 발생한 경우 오류 메시지를 콘솔에 출력
                console.error("AJAX Error:", textStatus, errorThrown);
            });
    }
</script>
<!--Footer 영역을 참조합니다.-->
<footer class="mt-5" th:replace="~{common/fragments/footer :: FooterFragment}"></footer>
<!-- 공통 스크립트-->
<th:block th:replace="~{/common/fragments/script :: scriptFragment}"></th:block>
</body>
</html>